<div class="maindiv">
    <div class="headdiv">
    <h1>SERVICES</h1>
    <p> What I Do?</p>
      </div>
    <div class="cards-list">
        <div class="card"  >
          <div class="card_image"> <img src="assets/img/webdesin.png" /> </div>
          <div class="card_title title-black">
            <p>Web Desgin</p>
          </div>
          <div class="overlay">
            <div class="text">
              <p>Html</p>
              <p>Css</p>
              <p>Java Script</p>
              <p>Bootstrap</p>
            </div>
          </div>
        </div>
        
          <div class="card" >
          <div class="card_image">
            <img src="assets/img/is-820219790-640x360_tcm27-49149.jpg" />
            </div>
          <div class="card_title title-white" style="margin-top:-109px;">
            <p>software development</p>
          </div>
          <div class="overlay">
            <div class="text">
              <p >C#</p>
              <p>Node</p>
              <p>Angular</p>
            </div>
          </div>
        </div>
        
        </div>
        </div>
    